body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f1f9; /* Rosa claro */
    margin: 0;
    padding: 0;
}

header, .footer {
    background: #ff66b2; /* Rosa fuerte */
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    font-size: 2.5em;
}

.menu, #ulmenu {
    list-style: none;
    padding: 0;
}

.menu li, #ulmenu li {
    display: inline;
    margin: 0 15px;
}

.menu a, #ulmenu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.presentacion, .boxdetalle {
    text-align: center;
    padding: 20px;
    background: #ffccf2; /* Rosa pastel */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.productos-title, h2 {
    text-align: center;
    margin: 20px 0;
}

.productos-container, #boxproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-container div, .boxdetalle {
    background: #ff99cc; /* Rosa suave */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.productos-container img, .boxdetalle img {
    max-width: 100%;
    border-radius: 5px;
}

.precio {
    font-size: 1.5em;
    color: #e60073; /* Rosa intenso */
}

.boxcontador {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.boxcontador button, button {
    background: #e60073; /* Rosa intenso */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.boxcontador button:hover, button:hover {
    background: #d10066; /* Rosa más oscuro */
}

button {
    background: #ff66b2; /* Rosa fuerte */
}

button:hover {
    background: #c0392b; /* Rojo oscuro */
}

main {
    max-width: 500px;
    align-items: center;
    margin: 40px auto;
    padding: 50px;
    background-color: #ffccf2; /* Rosa pastel */
    border: 1px solid #ddd;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
}

.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#icono-carrito {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

#icono-carrito img {
    width: 50px;
    height: 50px;
}

#cantidad-carrito {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px 8px;
    min-width: 20px;
    text-align: center;
}
